<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect"> org.hibernate.dialect.MySQL5Dialect</property>

		<property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mariadb://localhost/gameconsolecollection</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">olso</property>

		<property name="hbm2ddl.auto">validate</property>

		<property name="show_sql">true</property>

		<mapping class="model.Console"></mapping>
		<mapping class="model.Image"></mapping>
		<mapping class="model.Platform"></mapping>
		<mapping class="model.Region"></mapping>
		<mapping class="model.ConditionType"></mapping>
		<mapping class="model.User"></mapping>
		<mapping class="model.Game"></mapping>
		<mapping class="model.GameCondition"></mapping>
	</session-factory>
</hibernate-configuration>