<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect"> org.hibernate.dialect.MySQL5Dialect</property>

		<property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mariadb://localhost/gameconsolecollection</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">olso</property>

		<property name="hbm2ddl.auto">validate</property>

		<property name="show_sql">true</property>

		<!--   <mapping class="fi.metropolia.workplacemanager.model.User" /> -->
	</session-factory>
</hibernate-configuration>
